.BuildControls {
    width: 100vw;
    background-color: #cf8f2e;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2rem 1rem #ccc;
    margin: auto;
    padding: 10px 0;
}